.create{
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: radial-gradient(circle, rgba(70,205,255,1) 21%, rgba(12,3,193,1) 72%);

        h1{
            font-size: 80px;
            margin-right: 30px;
            color: rgb(255, 192, 75);
            text-shadow: 1px 1px 1px black;
        }
    .container_form{
        justify-content: center;
        align-items: center;
        height: 300px;
        width :500px;
        background-color: rgb(255, 192, 75);
        box-shadow: 1px 1px 10px white;
        border-radius: 20px;
        form{
            label{
                font-size: 20px;
                font-weight: bold;
                margin-bottom: 0;
            }
            input{
                border: none;
                border-radius: 5px;
                padding: 2px;
                &:focus{
                    outline: none;
                }
            }
            textarea{
                border: none;
                border-radius: 10px;
                padding: 2px;
                &:focus{
                    outline: none;
                }
            }
            button{
                color: white;
            }
        }
    }
}